* {
    margin: 0 auto;
    padding: 0
}

body {
    text-align: center;
    font-family: sans-serif;
    color: #333;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav li {
    float: right;
    list-style: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  

li a:hover {
    background-color: #111;
}

header {
    opacity: 80%;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#homepage-header {
    background-image: url("../images/ayres-rock.jpg");
}

#places-header {
    background-image: url("../images/sydney-opera-house-at-night.jpg");
    padding-top: 100px;
}

#things-to-do-header {
    background-image: url("../images/ballooning.jpg")
}

section:not(.links) {
    max-width: 1200px;
    grid-template-columns: 50% 50%;
    width: 75%;
    align-items: center;
    padding: 0 auto;
    margin: auto;
}

h1 {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
  }

h2 {
    padding-bottom: 20px;
    color: #470D21;
}
  
.intro {
    padding: 5%;
    text-align: left;
}

.inset-img {
    width: 300px;
    max-width: 75%;
    padding: auto;
    flex-shrink: 1;
    margin: 0 20px 20px;
    border-radius: 10%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.6); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.6);
}

.intro .inset-img {
    float: right;
}

br {
    clear: both;
}

.links {
    padding-bottom: 5%;
}

button {
    background: #910639;
    background-image: -webkit-linear-gradient(top, #910639, #470D21);
    background-image: -moz-linear-gradient(top, #910639, #470D21);
    background-image: -ms-linear-gradient(top, #910639, #470D21);
    background-image: -o-linear-gradient(top, #910639, #470D21);
    background-image: linear-gradient(to bottom, #910639, #470D21);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
  }
  
  button:hover {
    background: #ff6200;
    background-image: -webkit-linear-gradient(top, #ff6200, #26160d);
    background-image: -moz-linear-gradient(top, #ff6200, #26160d);
    background-image: -ms-linear-gradient(top, #ff6200, #26160d);
    background-image: -o-linear-gradient(top, #ff6200, #26160d);
    background-image: linear-gradient(to bottom, #ff6200, #26160d);
    text-decoration: none;
  }

section a {
    margin: 10%;
}

.places-intro {
    padding: 5%;
}

.sydney, .rainforest, .outback, .rottnest, .camping, .carnivale, .freemantle-prison, .friendship-garden, .ballooning {
    padding: 0 5% 5%;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px
}

@media screen and (max-width: 950px){
    header {
        height: 450px;
    }

    h1 {
        top: 85%;
    }
}

@media screen and (max-width: 650px) {
    .intro {
        grid-template-columns: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    header {
        height: 300px;
    }

    button {
        margin: 20px;
    }
}


/* 320 - 480 mobile
481 - 769 tablet
769-1024 small laptop
1025 - 1200 desktop
1201 really big screen*/